<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <section class="section">
        <container class="container">
            <div class="columns">
                <div class="column is-6-tablet is-6-desktop">

                    <h1 class="title is-size-4">
                        Account details
                    </h1>

                    <form class="box" action="/account/newDisplayName" method="POST">

                        <div class="block">
                            <strong>Current display name</strong>
                            <p class="has-text-grey">
                                <%= displayName %>
                            </p>
                        </div>

                        <% if (emptyDisplayNameNotification) { %>
                            <p class="emptyFieldNotification">
                                Please ensure that field is populated before changing field:
                            </p>
                            <% } %>

                                <div class="field">
                                    <label class="label">New display name</label>
                                    <div class="control">
                                        <input class="input" type="displayname" name="displayNameField" />
                                    </div>
                                </div>

                                <button class="button is-link">Change display name</button>

                    </form>

                    <form class="box" action="/account/newEmailAddress" method="POST">

                        <div class="block">
                            <strong>Current email address</strong>
                            <p class="has-text-grey">
                                <%= rowdata[0].email_address %>
                            </p>
                        </div>

                        <% if (emptyEmailAddressNotification) { %>
                            <p class="emptyFieldNotification">
                                Please ensure that field is populated before changing field:
                            </p>
                            <% } %>

                        <div class="field">
                            <label class="label">New email address</label>
                            <div class="control">
                                <input class="input" type="email" name="emailField" />
                            </div>
                        </div>

                        <button class="button is-link">Change email address</button>

                    </form>

                    <form class="box" action="/account/newPassword" method="POST">

                        <div class="block">
                            <strong>Current password</strong>
                            <p class="has-text-grey">
                                ********
                            </p>
                        </div>

                        <% if (emptyPasswordNotification) { %>
                            <p class="emptyFieldNotification">
                                Please ensure that field is populated before changing field:
                            </p>
                            <% } %>

                        <div class="field">
                            <label class="label">New password</label>
                            <div class="control">
                                <input class="input" type="password" name="passwordField" />
                            </div>
                        </div>

                        <button class="button is-link">Change password</button>

                    </form>

                    <form id="deleteAccountForm" action="/account/delete" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="button is-link is-dark">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span><strong>Delete account</strong></span>
                        </button>
                    </form>

                </div>
            </div>
        </container>
    </section>

    <footer class="footer pb-3">
    </footer>

    <script>

        // JS to remove notification
        const deleteButton = document.querySelector('.delete');

        deleteButton.addEventListener('click', () => {
            deleteButton.parentNode.style.display = 'none';
        });

        // JS code to override the form submission method to send a DELETE request
        document.getElementById('deleteAccountForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const url = this.getAttribute('action');
            fetch(url, { method: 'DELETE' })
                .then(response => {
                    window.location.href = `/logout`;
                });
        });

    </script>

</body>

</html>