<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <section class="section">
        <div class="container">

            <% if (isAuthenticated) { %>

                <div class="block">
                    <form action="/collection" method="POST">
                        <div class="field is-grouped">

                            <div class="control is-expanded">
                                <input class="input" type="text" name="newCollectionField"
                                    placeholder="New collection name...">
                            </div>

                            <div class="control">
                                <button class="button is-primary">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                        <span>New collection</span>
                                    </span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="box">

                    <h1 class="title is-size-5">
                        My collections
                    </h1>

                    <div class="block">
                        <table class="table is-bordered is-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                                            title="Leicester City F.C.">Leicester City</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://en.wikipedia.org/wiki/Arsenal_F.C."
                                            title="Arsenal F.C.">Arsenal</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C."
                                            title="Tottenham Hotspur F.C.">Tottenham Hotspur</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box">

                    <h1 class="title is-size-5">
                        Members' collections
                    </h1>

                    <div class="block">
                        <table class="table is-bordered is-striped">
                            <thead>
                                <tr>
                                    <th>Collection</th>
                                    <th>Member</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                                            title="Leicester City F.C.">Leicester City</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <a href="https://en.wikipedia.org/wiki/Arsenal_F.C."
                                            title="Arsenal F.C.">Arsenal</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C."
                                            title="Tottenham Hotspur F.C.">Tottenham Hotspur</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <% } else { %>

                    <div class="box">

                        <h1 class="title is-size-5">
                            Members' collections
                        </h1>

                        <div class="block">
                            <table class="table is-bordered is-striped">
                                <thead>
                                    <tr>
                                        <th>Collection</th>
                                        <th>Member</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                                                title="Leicester City F.C.">Leicester City</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <a href="https://en.wikipedia.org/wiki/Arsenal_F.C."
                                                title="Arsenal F.C.">Arsenal</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C."
                                                title="Tottenham Hotspur F.C.">Tottenham Hotspur</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <% } %>

        </div>
    </section>


</body>

</html>