<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/pikachu.png" alt="site logo" style="max-height: 60px">
            </a>

            <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start">

                <a class="navbar-item" href="/browse">
                    Browse Cards
                </a>

                <a class="navbar-item" href="/expansions">
                    Expansions
                </a>

                <a class="navbar-item" href="/collections">
                    Collections
                </a>

                <% if (isAuthenticated) { %>

                    <a class="navbar-item" href="/wishlist">
                        Wishlist
                    </a>

                    <% } %>

                        <!-- On mobile devices, display a link instead of button -->
                        <div class="is-hidden-desktop">

                            <% if (isAuthenticated) { %>

                                <a class="navbar-item" href="/account">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span>
                                            <%= displayName %>
                                        </span>
                                    </span>
                                </a>

                                <a class="navbar-item" href="/logout">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-sign-out-alt"></i>
                                        </span>
                                        <span>Log out</span>
                                    </span>
                                </a>

                                <% } else { %>

                                    <a class="navbar-item" href="/signup">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fas fa-user-plus"></i>
                                            </span>
                                            <span>Sign up</span>
                                        </span>
                                    </a>

                                    <a class="navbar-item" href="/login">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fas fa-sign-in-alt"></i>
                                            </span>
                                            <span>Log in</span>
                                        </span>
                                    </a>

                                    <% } %>
                        </div>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">

                    <!-- On mobile devices, hide buttons -->
                    <div class="buttons is-hidden-touch">

                        <% if (isAuthenticated) { %>

                            <a class="button is-info" href="/account">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span><strong>
                                            <%= displayName %>
                                        </strong></span>
                                </span>
                            </a>

                            <a class="button is-light" href="/logout">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                    <span>Log out</span>
                                </span>
                            </a>

                            <% } else { %>

                                <a class="button is-info" href="/signup">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-user-plus"></i>
                                        </span>
                                        <span><strong>Sign up</strong></span>
                                    </span>
                                </a>

                                <a class="button is-light" href="/login">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-sign-in-alt"></i>
                                        </span>
                                        <span>Log in</span>
                                    </span>
                                </a>

                                <% } %>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <script>
        const burgerIcon = document.querySelector('.navbar-burger');
        const navbarMenu = document.querySelector('.navbar-menu');

        burgerIcon.addEventListener('click', () => {
            navbarMenu.classList.toggle('is-active');
        });
    </script>

</body>

</html>