<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>

    <%- include('header')%>

        <section class="section home pt-0">
            <div class="container">
                <div class="columns">

                    <div class="column is-7">
                        <h1 class="title pt-6 pb-2">Welcome to Poképax.</h1>
                        <p class="subtitle">Browse our members' Pokémon card collections or join today to start tracking
                            your
                            own collection.</p>
                    </div>

                    <div class="column is-5">
                        <img src="/wallpaper-14.png" alt="home picture">
                    </div>

                </div>
            </div>
        </section>

</body>

</html>