<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <%- include('header')%>
    </header>

    <section class="section">
        <container class="container">
            <div class="columns">
                <div class="column is-6-tablet is-6-desktop">

                    <h1 class="title is-size-4">
                        Log in to your account
                    </h1>

                    <div class="block">
                        <p>
                            Don't have an account?<a href="/signup"> Sign up here.</a>
                        </p>
                    </div>

                    <% if (emptyFieldNotification) { %>
                        <div class="notification is-danger">
                            <button class="delete"></button>
                            Please ensure that all fields are populated.
                        </div>
                        <% } %>

                            <% if (noEmailNotification) { %>
                                <div class="notification is-danger">
                                    <button class="delete"></button>
                                    Invalid email - please try again or create an account.
                                </div>
                                <% } %>

                                    <% if (passwordNotification) { %>
                                        <div class="notification is-danger">
                                            <button class="delete"></button>
                                            Invalid password - please try again.
                                        </div>
                                        <% } %>

                                            <form class="box" action="/login" method="POST">

                                                <div class="field">
                                                    <label class="label">Email address</label>
                                                    <div class="control">
                                                        <input class="input" type="email" name="emailField" />
                                                    </div>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Password</label>
                                                    <div class="control">
                                                        <input class="input" type="password" name="passwordField" />
                                                    </div>
                                                </div>

                                                <button class="button is-info">Log in</button>
                                            </form>

                </div>
            </div>
        </container>
    </section>

    <script>

        const deleteButton = document.querySelector('.delete');

        deleteButton.addEventListener('click', () => {
            deleteButton.parentNode.style.display = 'none';
        });

    </script>

</body>

</html>