
.navbar.has-shadow {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.card.browser {
    transition: transform 0.3s;
}

.card.browser:hover {
    transform: scale(1.05);
}

.energy-type-image {
    width: 19px;
    height: auto;
}

.energy-type-big-image {
    width: 25px;
    height: auto;
}

.empty-collection-message{
    color: red;
}