.navbar.has-shadow {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.card.mb-3 {
    transition: transform 0.3s;
}

.card.mb-3:hover {
    transform: scale(1.05);
}

.energy-type-image {
    width: 19px;
    height: auto;
}

.empty-collection-message {
    color: red;
}

.empty-wishlist-message {
    color: red;
}

.dropdown-wrapper {
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
}

.button.has-text-grey.create-collection {
    border: none;
}

.heart-icon {
    align-items: center;
}

.browse-filter-menu-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.browse-filter-menu-container:not(.show) {
    display: none;
}

.collection-filter-menu-container {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.collection-filter-menu-container:not(.show) {
    display: none;
}

.wishlist-filter-menu-container {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.wishlist-filter-menu-container:not(.show) {
    display: none;
}

.field.is-horizontal .field-body {
    display: flex;
}

.hyphen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .hyphen-container {
        margin: 0 5px;
    }
}

.block.collection-wishlist {
    display: flex;
    align-items: center;
}

.section.home{
    background-image: url('/wallpaper-10.png');
    background-size: 1265px 475px;
    background-position: center;
    background-repeat: no-repeat;
    height: 475px;
}